.git
.github
.idea
.vscode

.coverage
.coverage.*
.mypy_cache
.pytest_cache
.ruff_cache
.uv-cache
.venv
venv
env
ENV

.integration-deps
.tmp
pytest-live

__pycache__
*.py[cod]
*.pyo

build
dist
htmlcov
*.egg-info
coverage.xml

docs/_build
